@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:wght@300;400;600&family=Lora:wght@400;600&display=swap');

@keyframes bounce {
  from {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(3px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes rise {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes set {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes hide {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(100%);
  }
}
